{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <meta charset="utf-8">
    <meta name="author" content="António Antunes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/computer.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <script defer src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <h1>Editar Post</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>

</body>

</html>